@font-face {
	font-family: VOX;
	src: url('../assets/fonts/VOX.TTF') format('truetype');
}

@font-face {
	font-family: HANG BOARD 123;
	src: url('../assets/fonts/HANG BOARD 123.ttf') format('truetype');
}

@font-face {
	font-family: HANG BOARD 123;
	src: url('../../../hareesh-seela_hang-board-123/HANG BOARD 123.ttf') format('truetype');
}

@font-face {
	font-family: Dynasty;
	src: url('../../../jake-luedecke-motion-and-graphic-design_dynasty/Dynasty.ttf') format('truetype');
}

body {
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(119,179,227,0) 75%, rgba(125,185,232,0) 80%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(75%,rgba(119,179,227,0)), color-stop(80%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(119,179,227,0) 75%,rgba(125,185,232,0) 80%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(119,179,227,0) 75%,rgba(125,185,232,0) 80%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(119,179,227,0) 75%,rgba(125,185,232,0) 80%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(119,179,227,0) 75%,rgba(125,185,232,0) 80%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

}
.impress-enabled.step{
    margin:0;
    opacity:0.0;
-webkit-transition: 1s;
-moz-transition:  1s ;
-ms-transition: 1s;
-o-transition: 1s;
transition: 1s;

}
.impress-enabled.step.active{
    opacity:1;
}
.slide {
    display:block;
    width:700px;
    height:600px;
    padding:40px 60px;
    background-color:white;
    border:1px solid rgba(0,0,0,0.3);
    color:rgb(52,52,52);
    text-shadow:0 2px 2px rgba(0,0,0,0.1);
    border-radius:5px;
    font-family:"Open Sans",Arial,sans-serif;
    font-size:30px;

}
/*styling for slide paragraphs*/
    .slide p {
        margin-top:15px;
        margin-bottom:30px;
        line-height:30px;
        font-size:35px;
        font-family:VOX;
    }
    /*styling for slide links*/
    .slide a,.slide a:visited{
        color:#071549;
        text-decoration:none;
        background-color:#abc;
        padding:5px;
        border-radius:5px;
        border:1px solid #cde;
        

    }
    .slide a:hover,.slide a:active{
                background-color:#cde;
           }
    /*styling for slide text area*/
    .slide .slide-text {
        height:450px;
    }
    /*styling for menu*/
    div.menu{
        border-top:2px solid black;
        padding-top:25px;
        text-align:center;
    }