@font-face {
	font-family: VOX;
	src: url('../assets/fonts/VOX.TTF') format('truetype');
}

@font-face {
	font-family: HANG BOARD 123;
	src: url('../assets/fonts/HANG BOARD 123.ttf') format('truetype');
}

@font-face {
	font-family: HANG BOARD 123;
	src: url('../../../hareesh-seela_hang-board-123/HANG BOARD 123.ttf') format('truetype');
}

@font-face {
	font-family: Dynasty;
	src: url('../../../jake-luedecke-motion-and-graphic-design_dynasty/Dynasty.ttf') format('truetype');
}

body {
/**/
background-image:url(../assets/images/Capture.PNG);
background-repeat:no-repeat;
background-size:cover;
background-position:left;

}
.impress-enabled.step{
    margin:0;
    opacity:0.0;
-webkit-transition: 1s;
-moz-transition:  1s ;
-ms-transition: 1s;
-o-transition: 1s;
transition: 1s;

}
.impress-enabled.step.active{
    opacity:1;
}
.slide {
    display:block;
    width:700px;
    height:600px;
    padding:40px 60px;
    background-color:white;
    border:1px solid rgba(0,0,0,0.3);
    color:rgb(52,52,52);
    text-shadow:0 2px 2px rgba(0,0,0,0.1);
    border-radius:5px;
    font-family:"Open Sans",Arial,sans-serif;
    font-size:30px;

}
/*styling for slide paragraphs*/
    .slide p {
        margin-top:15px;
        margin-bottom:30px;
        line-height:30px;
        font-size:35px;
        font-family:VOX;
        color:white;
    }
    /*styling for slide links*/
    .slide a,.slide a:visited{
        color:#071549;
        text-decoration:none;
        background-color:#abc;
        padding:5px;
        border-radius:5px;
        border:1px solid #cde;
        color:white;
        background-color:burlywood;
        

    }
    .slide a:hover,.slide a:active{
                background-color:#0026ff;
           }
    /*styling for slide text area*/
    .slide .slide-text {
        height:450px;
        
    }
    /*styling for menu*/
    div.menu{
        border-top:2px solid black;
        padding-top:25px;
        text-align:center;
    }